<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-row">
      <!-- Left side description -->
      <div class="footer-description">
        <p> . زاويتي الخاصة للذكاء الاصطناعي، الأفكار، وكل شيء يشعل شغفي </p>
      </div>

      <!-- Right side social links -->
      <div class="social-links">
        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" target="_blank" aria-label="GitHub">
          <i class="fa-brands fa-github"></i>
        </a>
        {% endif %}
        
        
        {% if site.linkedin_username %}
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" aria-label="LinkedIn">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        {% endif %}
        
      </div>
    </div>

    <div class="footer-copyright">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </div>
  </div>
</footer>