<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-row">
      <!-- Left side description -->
      <div class="footer-description">
        <p>A space for Machine Learning, Philosophy, Life, Food or whatever I fancy at the moment.</p>
      </div>

      <!-- Right side social links -->
      <div class="social-links">
        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" target="_blank" aria-label="GitHub">
          <i class="fa-brands fa-github"></i>
        </a>
        {% endif %}
        
        {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" aria-label="Twitter">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        {% endif %}
        
        {% if site.linkedin_username %}
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" aria-label="LinkedIn">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        {% endif %}
        
        {% if site.youtube_username %}
        <a href="https://youtube.com/@{{ site.youtube_username }}" target="_blank" aria-label="YouTube">
          <i class="fa-brands fa-youtube"></i>
        </a>
        {% endif %}
      </div>
    </div>

    <div class="footer-copyright">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </div>
  </div>
</footer>