<div class="sidebar">
  <h3>About Me</h3>
  <p>A brief introduction about yourself goes here.</p>
  <h3>Categories</h3>
  <ul class="list-unstyled">
    <li><a href="{{ "/blog" | relative_url }}">Blog</a></li>
    <li><a href="{{ "/notes" | relative_url }}">Notes</a></li>
  </ul>
  <h3>Contact</h3>
  <p>
    <a href="mailto:{{ site.email }}">Email</a><br>
    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a><br>
    <a href="https://github.com/{{ site.github_username }}">GitHub</a>
  </p>
</div>
