<button id="toc-toggle" class="toc-toggle" aria-label="Toggle Table of Contents">
    <i class="fas fa-list-ul"></i>
  </button>
  
  <div class="toc-wrapper">
    <div class="toc">
      <div class="toc-header">
        Table of Contents
        <button class="toc-close" aria-label="Close Table of Contents">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <nav class="toc-nav" id="toc">
        <!-- ToC content will be dynamically inserted here by JavaScript -->
      </nav>
    </div>
  </div>
  